
@{
    ViewBag.Title = "HtmlHelperExample";
}

<h2>HtmlHelperExample</h2>

<input type="text" name="FirstName" value="john" style="background-color:cadetblue" />
<br />
@Html.TextBox("LastName","Seena",new { style = "background-color:green" })